<div class="topContainer" style=" border-width: 5px">
  <div class="row" style="align-text: center;">
    
    <div class="col-12 d-flex justify-content-center text-center">
            <img src="./assets/img/1.png "
        style="width: 100%; height: 100%">
    </div>
  </div>
</div>

<div class="container" style="border: 10px;">
  <div class="row" style="align-text: center;">
    <div class="col-4 d-flex justify-content-center text-center">
      <center>
        
      </center>
    </div>
  </div>
  <div class="row" style="align-text: center;">
    <div class="col-4 d-flex justify-content-center text-center">

      <ul>
        <img src="./assets/img/4.png "
        style="width: 100%; padding: 5px; padding-top: 5px">
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burgers-block devoured=true}}
        {{/unless}}
        {{/each}}
      </ul>

    </div>
    <div class="col-4 d-flex justify-content-center text-center" style="background-color: #469f5b;">
      <br>
      <center>
       
      </center>
      <form class="create-form">

        <div class="form-group" style="background-color: #469f5b; color: azure"> <img src="./assets/img/2.png "
        style="width: 100%; ">
          <label for="ca">Burger Name:</label>
          <input type="text" id="ca" name="ca">
        </div>

        <div class="form-group">
          <label for="devoured"></label>
          <input type="radio" name="devoured" value="1" checked> Devoured!<br>
          <input type="radio" name="devoured" value="0"> Yet to Be Devoured...
        </div>
        <button type="submit" class="btn btn-danger">Add Burger</button>
      </form>

    </div>
    <div class="col-4 d-flex justify-content-center text-center">
      <br>

      <ul>
        <img src="./assets/img/3.png "
        style="width: 100%; padding: 5px; padding-top: 5px">
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burgers-block devoured=false}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>



</div>