body {
  background-color: rgb(235, 233, 177);
}

li {
  padding: 5px;
  margin: 5px;
  background: #a090ff;
  max-width: 100%;
}

.liBurger {
  padding: 5px;
  margin: 5px;
  background: #469f5b;
  max-width: 100%;
  color: azure;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.container{
  border: 10px;
  border-color: black;
  width: 90%;
}

.topContainer{
  border: 1px solid rgb(36, 97, 39);
  width: 90%;
  border-radius: 2%;
  text-align: center;
  float: absolute;
  margin: auto;
  background-color: #469f5b;
  color: azure;
}

.bottomMenu{
  border: 1px solid rgb(19, 109, 52);
  width: 75%;
  border-radius: 10%;
  text-align: center;
  float: absolute;
  margin: auto;
}